.header {
    padding: 0 20px;
    margin: 20px 0;
}

.menu {
    max-width: 550px;
    display: flex;
    justify-content: space-between;
}

.header-logo {
    text-align: center;
    max-width: 150px;
    font-size: 32px;
}

.topnav {
    width: 400px;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.topnav li {
    display: block;
    color: rgb(2, 109, 77);
    font-size: 18px;
    padding: 10px 30px;
}